body {
	color: #000;
	background: #FDFDEE url(bg2.GIF) 0 0 repeat-x;
}

.border_bottom3 {
	border-bottom: 3px solid #CDCDCD;
}

#sub_nav {
	background-color: #1D4009;
}

#sub_nav li {
	color: #FFF;
}

#sub_nav li a:link {
	color: #FFF;
}

#sub_nav li a:visited {
	color: #FFF;
}

#sub_nav li a:hover {
	color: #FFF;
}

.dgreen-bg {
	background-color: #1C3F09;
	width: 100%;
	height: 34px;
	border-bottom: 20px solid #B6B683;
	border-top: 3px solid #85B512;
}

#main_nav li {
	color: #FFF;
}

#main_nav li a:link {
	color: #FFF;
}

#main_nav li a:visited {
	color: #FFF;
}

#main_nav li a:hover {
	color: #FFF;
}

#main_nav li ul {
	background-color: #1C3F09;
}

#main_nav li:hover ul {
	background-color: #1C3F09;
}

#main_nav li ul li {
	border-bottom: 1px solid #BBB;
}

#top-adv {
	border: 1px solid #B6B683;
	border-bottom: 4px solid #B6B683;
}


#left-nav-bar {
	background: #E7E7D6;
}

#left-nav-bar h2 {
	color: #3E650C;
	letter-spacing: 1px;
	border-bottom: 1px solid #ABABAB;
}


.main_con {
	border: 1px solid #B6B683;
}

#right-cnt {
	background-color:#FDFDEE;
	border: 1px solid #B6B683;
}
.pages {
	background-color: #B6B683;
	border-bottom: 3px solid #4D4D37;
}

.pages h2 {
	color: #3F4808;
}

.pages h2 a {
	color: #3F4808;
}

#tags {
	background-color: #F6F6F6;
}


div.col_center {
	background-color:#FDFDEE;
	margin-top: 0px;
	border: 1px solid #B6B683;
}

.sub-title {
	background-color: #B6B683;
}

.sub-title h2 {
	color: #3E650C;
}

div.col_center p#intro {
	color: #426A0C;
}

div.col_center ul li a:link {
	color: #426A0C;
}

div.col_center ul li a:visited {
	color: #426A0C;
}

div.col_center ul li a:hover {
	color: #426A0C;
}

#right-list li {
	border-bottom: 1px solid #CECECE;
}

#about {
	background-color: #1C3F09;
	width: 100%;
	padding: 10px 0 10px 0;
	height: 14px;
	border-top: 3px solid #85B512;
	text-align: left;
	color: #FFF;
}

.image-grid li strong {
	color: #000000;
}

.timefont {
	font-size: 12px;
	color: #74582F;
}

.timefont a{
	font-size: 12px;
	color: #74582F;
}

.alertmsg a{
	font-size: 14px;
	color: #336699;
}

.newslist {
	BORDER: #966f48 1px solid;
}

.newslist DL DD.author SPAN {
	BORDER-BOTTOM: #F1E1BE 1px solid;
	COLOR: #74582F;
}

.newslist DL DT.topic{
	COLOR: #74582F;
}

.newslist DL DT.topic a{
	COLOR: #74582F;
}

.newslist DL DD.detail {
	BACKGROUND: #FFF7E9;
}

.newslist DL DD.detail SPAN {
	COLOR: #74582F;
}

.newslist DL DD.detail EM {
	COLOR: #74582F;
}

.newslist DL DD.detail A:link {
	COLOR: #74582F;
}

.newslist DL DD.detail A:visited {
	COLOR: #74582F;
}

.newslist DL DD.detail A:hover {
	COLOR: #74582F;
}

.table-app {
	border: 1px solid #B6B683;
	background-color: #FDFDEE;
}

.table-list {
	background-color: #FDFDEE;
	border: 1px solid #966f48;
}

.table-title {
	color: #966f48;
}

.tr-head {
	background-color: #d3b981;
}

.titlea {
	color: #74582F;
}

a.titlea:link {
	color: #74582F;
}

a.titlea:visited {
	color: #74582F;
}

a.titlea:hover {
	color: #0000CD;
}

.tr-title td {
	background-color: #f1e1be;
}

.trborder td{
	background-color: #f1e1be;
}

.tr-content {
	background-color: #faefda;
}

.tr-content td {
	color: #74582f;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #F1E1BE;
	color: #222222;
	font-weight: bold;
}
.ui-state-default{
	background: none;
}
tr.odd {
	background-color: #FAEFDA;
}

tr.even {
	background-color: white;
}

tr.odd td.sorting_1 {
	background-color: #FCF2CC;
}

tr.odd td.sorting_2 {
	background-color: #FCF2CC;
}

tr.odd td.sorting_3 {
	background-color: #FCF2CC;
}

tr.even td.sorting_1 {
	background-color: #FDFDEE;
}

tr.even td.sorting_2 {
	background-color: #FDFDEE;
}

tr.even td.sorting_3 {
	background-color: #FDFDEE;
}

.dock-container {
	background-color: #FDFDEE;
}

-->
