body{
   color:#000;
   background:#10091a url(bg3.png) 0 0 repeat-x;
}

.border_bottom3{
  border-bottom:3px solid #CDCDCD;
}

#sub_nav{
  background-color:#DCB5FF;
}

#sub_nav li{  
  color:#000;
}

#sub_nav li a:link{
  color:#000;
}

#sub_nav li a:visited{
  color:#000;
}

#sub_nav li a:hover{
  color:#FFF;
}
.image-grid li strong {
	color: #FFF;
}

.dgreen-bg{
  background-color:#DCB5FF;
  width:100%;
  height:34px;
  border-bottom:20px solid #473C8B;
  border-top:3px solid #8A2BE2;
}

#main_nav li{
  color:#000;  
}

#main_nav li a:link{
  color:#000;
}

#main_nav li a:visited{
  color:#000;
}

#main_nav li a:hover{
  color:#000;
}

#main_nav li ul{
	background-color: #DCB5FF;	
}
#main_nav li:hover ul{
	background-color: #DCB5FF;	
}

#main_nav li ul li{
	border-bottom: 1px solid #BBB;
}


#top-adv{
  border:1px solid #B6B683;
  border-bottom:4px solid #B6B683;
}

#top-contact-info{
  color:#565615;
}

#left-nav-bar{
  background:#190b2c ;
  color:#FFF; 
}

#left-nav-bar ul li a{ 
  color:#FFF; 
}

#left-nav-bar h2{
  color:#d3a4ff;  
  letter-spacing:1px;
  border-bottom:1px solid #ABABAB;
}

#left-nav-bar h3{
  border-top:1px solid #D8CECD;
  border-bottom:1px solid #D8CECD;
  color:#6E1920;
}

#left-nav-bar h3 a{
  border-top:1px solid #D8CECD;
  border-bottom:1px solid #D8CECD;
}

#right-cnt{background:#10091a ;
}
#right-cnt p{
  color:#4D4D4D;
}

.pages{
  background-color:#473C8B;
  border-bottom:3px solid #b2b2cc;
}

.pages h2{
  color:#d3a4ff;  
}

#tags{
  background-color:#F6F6F6;
}

#products-list li ul li{
  border-top:1px dashed #000;
  color:#6F6F6F;

}

#products-list li ul li span{
  color:#C80000;
}

div.col_center{
margin-top:0px;
  border:1px solid #BE77FF;  }

.sub-title{ 
 background-color:#473C8B;
}
.sub-title h2{ 
  color:#d3a4ff;
}

div.col_center p#intro{
  color:#b3a3d4;
}

div.col_center ul li a:link{
  color:#b3a3d4;
}

div.col_center ul li a:visited{
  color:#b3a3d4;
}

div.col_center ul li a:hover{
  color:#FFF;
}

#right-list li{
  border-bottom:1px solid #CECECE;
}

.cblue,a.cblue:link,a.cblue:visited{color:#190b2c;}

#about{
  background-color:#DCB5FF;
  width:100%;
  padding:10px 0 10px 0;
  height:14px;
  border-top:3px solid #8A2BE2;
  text-align:left;
  color:#000;
}
-->
