body {
	color: #000;
	background: #EEEBEE url(bg4.png) 0 0 repeat-x;
}

.border_bottom3 {
	border-bottom: 3px solid #CDCDCD;
}

#sub_nav {
	background-color: #565C60;
}

#sub_nav li {
	color: #FFF;
}

#sub_nav li a:link {
	color: #FFF;
}

#sub_nav li a:visited {
	color: #FFF;
}

#sub_nav li a:hover {
	color: #FFF;
}

.dgreen-bg {
	background-color: #212427;
	width: 100%;
	height: 34px;
	border-bottom: 20px solid #9A9A9A;
	border-top: 3px solid #6E6F72;
}

#main_nav li {
	color: #FFF;
}

#main_nav li a:link {
	color: #FFF;
}

#main_nav li a:visited {
	color: #FFF;
}

#main_nav li a:hover {
	color: #FFF;
}

#main_nav li ul {
	background-color: #212427;
}

#main_nav li:hover ul {
	background-color: #212427;
}

#main_nav li ul li {
	border-bottom: 1px solid #BBB;
}

#top-adv {
	border: 1px solid #B6B683;
	border-bottom: 4px solid #B6B683;
}

#left-nav-bar {
	background: #9A9A9A;
	color: #333333;
}

#left-nav-bar ul li a {
	color: #333333;
}

#left-nav-bar ul li a:hover {
	color: #000;
}

#left-nav-bar h2 {
	color: #212427;
	letter-spacing: 1px;
	border-bottom: 1px solid #ABABAB;
}

.main_con {
	border: 1px solid #9A9A9A;
}

#right-cnt {
	background: #EEEBEE;
	border: 1px solid #9A9A9A;
}

.pages {
	background-color: #565C60;
	border-bottom: 3px solid #9A9A9A;
}

.pages h2 {
	color: #FFF
}

.pages h2 a {
	color: #FFF
}

#tags {
	background-color: #F6F6F6;
}

div.col_center {
	background: #EEEBEE;
	margin-top: 0px;
	border: 1px solid #565C60;
}

.sub-title {
	background-color: #565C60;
}

.sub-title h2 {
	color: #FFF;
}

div.col_center p#intro {
	color: #212427;
}

div.col_center ul li a:link {
	color: #212427;
}

div.col_center ul li a:visited {
	color: #212427;
}

div.col_center ul li a:hover {
	color: #000;
}

#right-list li {
	border-bottom: 1px solid #CECECE;
}

.cblue,a.cblue:link,a.cblue:visited {
	color: #CDCACB;
}

.cgray,a.cgray:link,a.cgray:visited {
	color: #555555;
}

#about {
	background-color: #212427;
	width: 100%;
	padding: 10px 0 10px 0;
	height: 14px;
	border-top: 3px solid #6E6F72;
	text-align: left;
	color: #FFF;
}

.image-grid li strong {
	color: #000000;
}

.table-app {
	border: 1px solid #666;
	background-color: #EBF4FD;
}

.timefont {
	font-size: 12px;
	color: #5D5F62;
}

.timefont a {
	font-size: 12px;
	color: #5D5F62;
}

.trborder td{
	background-color: #DDDDDD;
}

.alertmsg a {
	font-size: 14px;
	color: #336699;
}

.newslist {
	BORDER-BOTTOM: #369 1px solid;
	BORDER-LEFT: #369 1px solid;
	BORDER-TOP: #369 1px solid;
	BORDER-RIGHT: #369 1px solid;
}

.newslist DL DD.author SPAN {
	BORDER-BOTTOM: #369 1px solid;
	COLOR: #369;
}

.newslist DL DT.topic {
	COLOR: #036;
}

.newslist DL DT.topic a {
	COLOR: #036;
}

.newslist DL DD.detail {
	BACKGROUND: #FDFDFE;
}

.newslist DL DD.detail SPAN {
	COLOR: #369;
}

.newslist DL DD.detail EM {
	COLOR: #369;
}

.newslist DL DD.detail A:link {
	COLOR: #036;
}

.newslist DL DD.detail A:visited {
	COLOR: #036;
}

.newslist DL DD.detail A:hover {
	COLOR: #036;
}

.table-list {
	border: 1px solid #336699;
	background-color: #EBF4FD;
}

.table-title {
	color: #036;
}

.table-message {
	background-color: #F0F8FF;
}

.tr-head {
	background-color: #58ACFA;
}

.tr-title td {
	background-color: #b1ceee;
}

.tr-content {
	background-color: #ECF3FD;
}

.tr-content td {
	color: #036;
}

.titlea {
	color: #5D5F62;
}

a.titlea:link {
	color: #5D5F62;
}

a.titlea:visited {
	color: #5D5F62;
}

a.titlea:hover {
	color: #0000CD;
}

tr.odd {
	background-color: #ebf4fd;
}

tr.even {
	background-color: white;
}
.dock-container {
	background-color: #EEEBEE;
}
-->
