body{
   color:#000;
 background:#FFF url(bg.png) 0 0 repeat-x;
}

.border_bottom3{
  border-bottom:3px solid #CDCDCD;
}

#sub_nav{
  background-color:#5D5D5D;
}

#sub_nav li{  
  color:#FFF;
}

#sub_nav li a:link{
  color:#FFF;
}

#sub_nav li a:visited{
  color:#FFF;
}

#sub_nav li a:hover{
  color:#FFF;
}
.image-grid li strong {
	color: #FFF;
}

.dgreen-bg{
  background-color:#5D5D5D;
  width:100%;
  height:34px;
  border-bottom:20px solid #D7D7D7;
  border-top:3px solid #DADADA;
}

#main_nav li{
  color:#FFF;  
}

#main_nav li a:link{
  color:#FFF;
}

#main_nav li a:visited{
  color:#FFF;
}

#main_nav li a:hover{
  color:#FFF;
}

#main_nav li ul{
	background-color: #5D5D5D;	
}
#main_nav li:hover ul{
	background-color: #5D5D5D;	
}

#main_nav li ul li{
	border-bottom: 1px solid #BBB;
}


#top-adv{
  border:1px solid #D4D4D4;
  border-bottom:4px solid #D4D4D4;
}

#top-contact-info{
  color:#565615;
}

#left-nav-bar{
  background:#EAE9E9;
  color:#605D5D; 
}

#left-nav-bar ul li a{ 
  color:#605D5D; 
}

#left-nav-bar h2{
  color:#282828;  
  letter-spacing:1px;
  border-bottom:1px solid #cdcdcd;
}

#left-nav-bar h3{
  border-top:1px solid #D8CECD;
  border-bottom:1px solid #D8CECD;
  color:#5E6068;
}

#left-nav-bar h3 a{
  border-top:1px solid #D8CECD;
  border-bottom:1px solid #D8CECD;
}

#right-cnt{background:#FFF ;
}
#right-cnt p{
  color:#DA1358;
}

.pages{
  background-color:#F0F0F0;
  border-bottom:3px solid #EAE9E9;
}

.pages h2{
  color:#282828;  
}
.newslist {
	BORDER-BOTTOM: #369 1px solid; BORDER-LEFT: #369 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #369 1px solid; BORDER-RIGHT: #369 1px solid; PADDING-TOP: 4px
}
.newslist DL DT.topic {
	MARGIN: 6px 0px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.newslist DL DD.author SPAN {
	BORDER-BOTTOM: #369 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 450px; COLOR: #369; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.newslist DL DD.desc {
	PADDING-BOTTOM: 12px; LINE-HEIGHT: 150%; MIN-HEIGHT: 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: auto; PADDING-TOP: 12px; _height: 1px
}
.newslist DL DD.desc:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.newslist DL DD.desc {
	DISPLAY: inline-block
}
.newslist DL DD.desc {
	DISPLAY: block
}
.newslist DL DD.desc IMG {
	FLOAT: right
}
.newslist DL DD.detail {
	LINE-HEIGHT: 27px; MARGIN: 0px -10px; BACKGROUND: url(http://img.cnbeta.com/bg_newlist_op.png) repeat-x; HEIGHT: 27px
}
.newslist DL DD.detail SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #369; PADDING-TOP: 0px
}
.newslist DL DD.detail EM {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; MARGIN-TOP: -27px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: right; COLOR: #369; PADDING-TOP: 0px
}
.newslist DL DD.detail EM A:link {
	COLOR: #036; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.newslist DL DD.detail EM A:visited {
	COLOR: #036; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.newslist DL DD.detail EM A:hover {
	COLOR: #e00; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#tags{
  background-color:#F6F6F6;
}

#products-list li ul li{
  border-top:1px dashed #000;
  color:#6F6F6F;

}

#products-list li ul li span{
  color:#C80000;
}

div.col_center{
margin-top:0px;
  border:1px solid #E3E3E3;  }

.sub-title{ 
 background-color:#F0f0f0;
}
.sub-title h2{ 
  color:#282828;
}

div.col_center p#intro{
  color:#747474;
}

div.col_center ul li a:link{
  color:#747474;
}

div.col_center ul li a:visited{
  color:#747474;
}

div.col_center ul li a:hover{
  color:#000;
}

#right-list li{
  border-bottom:1px solid #CECECE;
}

.cblue,a.cblue:link,a.cblue:visited{color:#605D5D;}
.cgray,a.cgray:link,a.cgray:visited{color:#282828;}

#about{
  background-color:#5D5D5D;
  width:100%;
  padding:10px 0 10px 0;
  height:14px;
  border-top:3px solid #D7D7D7;
  text-align:left;
  color:#FFF;
}
.image-grid li strong {
	color: #000000;
}
-->
