body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

th,td {
	text-align: left;
	vertical-align: top;
}

P {
	MARGIN: 0px
}

.STYLE1 {
	font-size: 12px
}

.STYLE3 {
	font-size: 12px;
	color: #FFFFFF;
}

-->
.cm_header {
	padding: 6px;
	border: solid #E6E7E1;
	border-width: 1px 0;
	background: #F5F5F5;
}



.itemtitle {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
	line-height: 23px;
}

.itemtitle h1 {
	align: left;
	float: left;
	margin: 0 20px 0 0;
	float: left;
}

.postpm {
	color: #09C;
	float: right;
	font-weight: 700;
}

.itemtitle ul {
	float: left;
	list-style-type: none;
	margin-left: 0px;
}

.itemtitle li {
	float: left;
	margin-right: 5px;
}

.itemtitle ul a {
	display: block;
	overflow: hidden;
	height: 23px;
	cursor: pointer;
}

* html .itemtitle ul a {
	float: left;
}

.itemtitle ul a span {
	display: block;
	padding: 0px 7px; *
	line-height: 22px;
	font-size: 14px;
}

.s_clear {
	zoom: 1;
}

a:link {
	font-size: 12px;
	text-decoration: none;
	color: #036;
}

a:visited {
	font-size: 12px;
	text-decoration: none;
	color: #036;
}

a:hover {
	font-size: 12px;
	text-decoration: none;
	color: #FF0000;
}

a.v1:link {
	font-size: 12px;
	text-decoration: none;
	color: #03515d;
}

a.v1:visited {
	font-size: 12px;
	text-decoration: none;
	color: #03515d;
}

.cpcontent {
	margin-left: 10px;
	width: auto;
	padding: 0px 15px;
}

.cpcontent h1,.main h1 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px;
}

.cpcontent h1 {
	margin-bottom: 15px;
}

.pm_list {
	WIDTH: 95%;
	border-width: 0px;
}

.pm_list tr td {
	padding: 5px 0;
	border-bottom: 1px solid #E6E7E1;
}

.msg_icon {
	width: 35px;
	text-align: center;
}

.profile_pic {
	width: 60px;
	line-height: 1px;
}

.profile_pic a:hover {
	text-decoration: none;
}

.name_and_date {
	width: 150px;
}

.name_and_date .name {
	display: block;
	width: 150px;
	margin-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.name_and_date .name a,.cpbox em {
	color: #09C;
}

.date {
	display: block;
	padding: 1px 0 0 0;
	font-size: 9px;
	color: #999;
}

.pmsubject {
	margin-right: 10px;
	line-height: 14px;
}

.pmsubject .subject_wrap {
	display: block;
	width: 300px;
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 20px;
}

.subject_wrap p a {
	color: #09C;
}

.snippet_wrap a {
	color: #666;
}


.delete_msg {
	width: 20px;
}

.delete_msg a {
	display: block;
	margin-right: 3px;
	margin-left: 3px;
	margin-top: 10px;
	width: 16px;
	height: 16px;
}

.checkbox_toggle {
	width: 35px;
	text-align: center;
}

.cpbox {
	margin: 10px 0;
	width: 95%;
}

.cpbox a,.cpbox span {
	padding: 0 4px;
	float: left;
	color: #09C;
}

.cpbox em {
	color: #09C;
}

.pages_btns {
	clear: both;
	overflow: hidden;
	zoom: 1;
	padding: 5px 0 0.5em;
}

.pages_btns a{
 	color: #09C;
}

.pages_btns span{
 	color:#CBCBCB;
}

.pages {
	float: right;
}

.pages a,.pages span,.pages em {
	float: left;
	overflow: hidden;
	padding: 0 6px;
	margin-right: 2px;
	height: 24px;
	border: 1px solid;
	line-height: 24px;
}

.pages a {
	border-color: #E6E7E1;
	background-color: #FFF;
	color: #09C;
}

.pages a:hover {
	text-decoration: none;
}

.pages span {
	border-color: #09C;
	background-color: #09C;
	color: #FFF;
	font-weight: 700;
}

.pages a:hover,.pages em {
	border-color: #09C;
}

.grayfont {
	color: #999
}


.formtable {
	width: 100%;
	border-width: 0px;
}

.formtable th {
	padding: 5px 2px;
	width: 50px;
	font-weight: 400;
	vertical-align: top;
}

.formtable th a {
	font-weight: 400;
	color: #09C;
	text-decoration: underline;
}

.formtable th label {
	FONT-SIZE: 13px;
	width:30px;
	LINE-HEIGHT: 100%;
	background-color: #FFF;
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}

.formtable td {
	padding: 5px 2px;
}



.formtable .sep_space th {
	height: 40px;
}

.txt,.txtarea {
	padding: 2px; *
	padding: 0 2px;
	height: 16px; *
	height: 20px;
	border: 1px solid;
	border-color: #999 #CCC #CCC #999;
	background: #FFF;
	margin-left: 20px;
}

.txtarea {
	height: auto;
}

.with_side {
	margin-bottom: 10px;
	background: #FFF;
	border: 0px solid #C8DCFF;
}

.wrap {
	overflow: hidden;
	text-align: left;
	margin: 0 auto;
	margin: 0 auto;
}


.notefilter a {
	color: #0954A6;
	padding-left: 15px;
}

.notefilter {
	padding: 5px 10px;
	margin-bottom: 10px;
	margin-top: 4px;
	background: #EEF4F9;
	border-top: 1px solid #D3E0EC;
	border-bottom: 1px solid #D3E0EC;
}

.notefilter a {
	color: #0954A6;
	padding-left: 15px;
}

.note {
	list-style-type: none;
}

.note cite {
	font-weight: 400;
	font-style: normal;
}

.note li {
	padding: 4px 0;
}

.f_bold {
	font-weight: 700;
}

.time {
	font-size: 10px;
	color: #999;
	font-family: Arial, sans-serif;
}