/* main styles */
body {
	margin:0;
	padding:0;
	background:#FFFFF1;
  	color:#000;
	font-family:tahoma,arial,sans-serif;
	font-size:11px;
	}
form {
	margin:0;
	padding:0
	}
img {border:none;}
a {color:#060606;text-decoration: none}
a:hover {text-decoration: underline}
input {vertical-align:middle}
.floatleft {float:left !important}
.floatright {float:right !important}
.clear {clear:both !important}
.bold {font-weight:bold !important}
.normal {font-weight:normal !important}
.block {display:block !important}
input.text,
select,
textarea {
	font-family:arial,sans-serif;
	color:#333;
	font-size:12px;
	vertical-align:middle;
	}
input.text {
	padding:1px 0 0 4px;
	height:14px;
	font-weight:normal;
	}
	
/* left column */
#left-column {
	float:left;
	padding:1px 14px 0 12px;
	width:208px;
	}
	
/* left column styles */
#left-column a {color:#3E3E3E;}
#left-column h3 {
	font-size:11px;
	margin:0;
	color:#60635A;
	background:url(../student/img/bg-left-link.gif) no-repeat left top;
	height:25px;
	line-height:23px;
	padding:0 0 0 9px;
	}
ul.nav {
	margin:0 0 11px 0;
	border-bottom:2px solid #FF9600;
	background:#ECEFE7;
	list-style:none;
	padding:0 2px;
	}
ul.nav li {
	padding:4px 4px 6px 5px;
	background:url(../student/img/bg-dotted.gif) repeat-x bottom;
	}
ul.nav a {
	padding:0 0 0 12px;
	font-size£º10px;
	background:url(../student/img/arrow.gif) no-repeat 0 4px;
	}
ul.nav a:hover {
	font-weight:bold;
	}
ul.nav li.last {background:none;}

#left-column .link {
	display:block;
	width:181px;
	height:25px;
	background:url(../student/img/bg-left-link.gif);
	margin:0 0 4px 0;
	font-weight:bold;
	padding:0 0 0 9px;
	line-height:25px;
	color:#60635A;
	}
	
/* center column styles */
.top-bar {
	float:left;
	width:603px;
	border-left:2px solid #f70;
	padding:0 0 0 9px;
	margin:0 0 4px 0;
	}
/* text page header */
.top-bar h1 {
	font:20px/21px verdana,sans-serif;
	color:#43729F;
	margin:0 0 4px 0;
	}
/* orange button */
.top-bar a.button {
	float:right;
	display:block;
	width:75px;
	height:35px;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	line-height:27px;
	background:url(../student/img/bg-orange-button.gif) no-repeat;
	}
	
/* bar with select */
.select-bar {
	clear:both;
	border-top:2px solid #f70;
	border-bottom:2px solid #f70;
	padding:5px 0 3px 0;
	margin:0 0 17px 0;
	}
.select-bar select {width:145px;margin:0 2px;}

/* table container */
div.table {
	float:left;
	position:relative;
	width:530px;
	margin:0 0 37px 0;
	}
table.listing {
	border-bottom:1px solid #9097A9;
	width:530px;
	padding:0;
	margin:0;
	border:1px solid #9097A9;
	}
table.listing th {
	border-top:0 !important;
	}
table.listing th.full {border-left:0;border-right:0 !important;text-align:left;text-transform:uppercase;}
div.table img.left {
	position:absolute;
	top:0;
	left:0;
	}
div.table img.right {
	position:absolute;
	top:0;
	right:1px;
	}
/* table styles */
table.listing td,
table.listing th {
	border:1px solid #fff;
	text-align:center;
	}	
table.listing th {
	background:#9097A9;
	color:#fff;
	padding:5px;
	}
table.listing td {
	background:#D8D8D8;
	color:#000;
	padding:3px 5px;
	}
table.listing .bg td {
	background:#ECECEC;
	}
table.listing .white td {
	background:#fff;
	}	
table.listing .first {border-left:0px solid #9097A9;text-align:left;}
table.listing .last {border-right:0px solid #9097A9;}

table.listing th.first {background:#9097A9 url(../student/img/bg-th-left.gif) no-repeat left top;border-left:0;}
table.listing th.last {background:#9097A9 url(../student/img/bg-th-right.gif) no-repeat right top;border-right:0;}

table.listing .style1 {font-weight:bold;color:#FF7A00;}
table.listing .style2 {font-weight:bold;padding-left:16px;}
table.listing .style3 {padding-left:25px;}
table.listing .style4 {padding-left:35px;}
table.form .last {padding:1px 0 1px 5px;text-align:left;}
table.form th,
table.form td {padding-left:10px;}
table.form input.text {width:262px}

/* table select */
div.table .select {
	float:right;
	margin:2px 1px 0 0;
	width:176px;
	height:25px;
	background:#9097A9 url(../student/img/bg-select.gif);
	color:#fff;
	}
div.table .select strong {
	float:left;
	padding:5px 0 0 5px;
	}	
div.table .select select {
	float:right;
	width:78px;
	margin:2px 3px 0 0;
	text-align:right;	
	}
