body {
	color: #000;
	background: #FAF1F5 url(bg5.png) 0 0 repeat-x;
}

.border_bottom3 {
	border-bottom: 3px solid #CDCDCD;
}

#sub_nav {
	background-color: #EB91B7;
}

#sub_nav li {
	color: #FFF;
}

#sub_nav li a:link {
	color: #FFF;
}

#sub_nav li a:visited {
	color: #FFF;
}

#sub_nav li a:hover {
	color: #FFF;
}

.dgreen-bg {
	background-color: #EE538C;
	width: 100%;
	height: 34px;
	border-bottom: 20px solid #EB91B7;
	border-top: 3px solid #ED95D2;
}

#main_nav li {
	color: #FFF;
}

#main_nav li a:link {
	color: #FFF;
}

#main_nav li a:visited {
	color: #FFF;
}

#main_nav li a:hover {
	color: #FFF;
}

#main_nav li ul {
	background-color: #EE538C;
}

#main_nav li:hover ul {
	background-color: #EE538C;
}

#main_nav li ul li {
	border-bottom: 1px solid #F9D9F0;
}

#top-adv {
	border: 1px solid #B6B683;
	border-bottom: 4px solid #B6B683;
}

#left-nav-bar {
	background: #F9D9F0;
	color: #7D5015;
}

#left-nav-bar ul li a {
	color: #7D5015;
}

#left-nav-bar h2 {
	color: #7D5015;
	letter-spacing: 1px;
	border-bottom: 1px solid #EB91B7;
}

.main_con {
	border: 1px solid #966f48;
}

#right-cnt {
	background-color:#FAF1F5;
	border: 1px solid #966f48;
}


.pages {
	background-color: #F7D8E2;
	border-bottom: 3px solid #F9D9F0;
}

.pages h2 {
	color: #7D5015;
}

.pages h2 a{
	color: #7D5015;
}

#tags {
	background-color: #F6F6F6;
}


div.col_center {
	margin-top: 0px;
	border: 1px solid #966f48;
}

.sub-title {
	background-color: #F7D8E2;
}

.sub-title h2 {
	color: #7D5015;
}

div.col_center p#intro {
	color: #7D5015;
}

div.col_center ul li a:link {
	color: #7D5015;
}

div.col_center ul li a:visited {
	color: #7D5015;
}

div.col_center ul li a:hover {
	color: #670133;
}

#right-list li {
	border-bottom: 1px solid #CECECE;
}

.cblue,a.cblue:link,a.cblue:visited {
	color: #A65C99;
}

.cgray,a.cgray:link,a.cgray:visited {
	color: #E05E8E;
}

#about {
	background-color: #EE538C;
	width: 100%;
	padding: 10px 0 10px 0;
	height: 14px;
	border-top: 3px solid #ED95D2;
	text-align: left;
	color: #FFF;
}

.image-grid li strong {
	color: #000000;
}

.timefont {
	font-size: 12px;
	color: #74582F;
}

.timefont a{
	font-size: 12px;
	color: #74582F;
}

.alertmsg a{
	font-size: 14px;
	color: #336699;
}

.newslist {
	BORDER: #966f48 1px solid;
}

.newslist DL DD.author SPAN {
	BORDER-BOTTOM: #F1E1BE 1px solid;
	COLOR: #74582F;
}

.newslist DL DT.topic{
	COLOR: #74582F;
}

.newslist DL DT.topic a{
	COLOR: #74582F;
}

.newslist DL DD.detail {
	BACKGROUND: #FFF7E9;
}

.newslist DL DD.detail SPAN {
	COLOR: #74582F;
}

.newslist DL DD.detail EM {
	COLOR: #74582F;
}

.newslist DL DD.detail A:link {
	COLOR: #74582F;
}

.newslist DL DD.detail A:visited {
	COLOR: #74582F;
}

.newslist DL DD.detail A:hover {
	COLOR: #74582F;
}

.table-app {
	border: 1px solid #B6B683;
	background-color: #FDFDEE;
}

.table-list {
	background-color: #FDFDEE;
	border: 1px solid #966f48;
}

.table-title {
	color: #966f48;
}

.tr-head {
	background-color: #d3b981;
}

.titlea {
	color: #74582F;
}

a.titlea:link {
	color: #74582F;
}

a.titlea:visited {
	color: #74582F;
}

a.titlea:hover {
	color: #0000CD;
}

.tr-title td {
	background-color: #f1e1be;
}

.trborder td{
	background-color: #f1e1be;
}

.tr-content {
	background-color: #faefda;
}

.tr-content td {
	color: #74582f;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #F1E1BE;
	color: #222222;
	font-weight: bold;
}
.ui-state-default{
	background: none;
}
tr.odd {
	background-color: #FAEFDA;
}

tr.even {
	background-color: white;
}

tr.odd td.sorting_1 {
	background-color: #FCF2CC;
}

tr.odd td.sorting_2 {
	background-color: #FCF2CC;
}

tr.odd td.sorting_3 {
	background-color: #FCF2CC;
}

tr.even td.sorting_1 {
	background-color: #FDFDEE;
}

tr.even td.sorting_2 {
	background-color: #FDFDEE;
}

tr.even td.sorting_3 {
	background-color: #FDFDEE;
}

.dock-container {
	background-color: #FAF1F5;
}

-->
