<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	
	
<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
            <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
            <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/graduate"></property>
            <property name="user" value="root"></property>
            <property name="password" value="root"></property>
            <property name="maxPoolSize" value="40"></property>
            <property name="minPoolSize" value="1"></property>
            <property name="initialPoolSize" value="1"></property>
            <property name="maxIdleTime" value="20"></property>
                    
  
  				 <property name="acquireIncrement" value="1"/>
  
   <property name="acquireRetryAttempts" value="30"/>
   <property name="acquireRetryDelay" value="100"/>
   <property name="testConnectionOnCheckin" value="true"/>
   <property name="automaticTestTable" value="C3POTestTable"/>
   <property name="idleConnectionTestPeriod" value="18000"/>
   <property name="checkoutTimeout" value="3000"/>
        </bean>
        
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
  <ref local="dataSource" /> 
  </property>
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>


	
	 <!-- 定义事务管理器（声明式的事务） -->
    <bean id="transactionManager"
      class="org.springframework.orm.hibernate3.HibernateTransactionManager">
      <property name="sessionFactory">
       <ref local="sessionFactory" />
      </property>
     </bean>
	
	<import resource="transactionContext.xml" />
	<import resource="daoContext.xml" />
	<import resource="serviceContext.xml" />
	<import resource="actionContext.xml" />
	
	<bean id="CoursewareDAO"
		class="cn.edu.xmu.course.dao.CoursewareDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="DepartmentDAO"
		class="cn.edu.xmu.course.dao.DepartmentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CourseDAO" class="cn.edu.xmu.course.dao.CourseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ExerciseDAO" class="cn.edu.xmu.course.dao.ExerciseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ChapterDAO" class="cn.edu.xmu.course.dao.ChapterDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MessageDAO" class="cn.edu.xmu.course.dao.MessageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CourseMovieDAO"
		class="cn.edu.xmu.course.dao.CourseMovieDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TeacherDAO" class="cn.edu.xmu.course.dao.TeacherDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StudentDAO" class="cn.edu.xmu.course.dao.StudentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SuperAdminDAO"
		class="cn.edu.xmu.course.dao.SuperAdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StudentCourseDAO"
		class="cn.edu.xmu.course.dao.StudentCourseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="GradeDAO" class="cn.edu.xmu.course.dao.GradeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CourseInfoDAO"
		class="cn.edu.xmu.course.dao.CourseInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SchoolDAO" class="cn.edu.xmu.course.dao.SchoolDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AchievementDAO"
		class="cn.edu.xmu.course.dao.AchievementDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TeacherTeamDAO"
		class="cn.edu.xmu.course.dao.TeacherTeamDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BookDAO" class="cn.edu.xmu.course.dao.BookDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdministratorDAO"
		class="cn.edu.xmu.course.dao.AdministratorDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ApplicationFormDAO"
		class="cn.edu.xmu.course.dao.ApplicationFormDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TopicDAO" class="cn.edu.xmu.course.dao.TopicDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CollectionDAO"
		class="cn.edu.xmu.course.dao.CollectionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ExaminationDAO"
		class="cn.edu.xmu.course.dao.ExaminationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserInfoDAO" class="cn.edu.xmu.course.dao.UserInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ExperimentDAO"
		class="cn.edu.xmu.course.dao.ExperimentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="NewsDAO" class="cn.edu.xmu.course.dao.NewsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AttachmentDAO"
		class="cn.edu.xmu.course.dao.AttachmentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="EvaluationDAO"
		class="cn.edu.xmu.course.dao.EvaluationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MailDAO" class="cn.edu.xmu.course.dao.MailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="NoticeDAO" class="cn.edu.xmu.course.dao.NoticeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PopedomDAO" class="cn.edu.xmu.course.dao.PopedomDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ExcellentWorkDAO"
		class="cn.edu.xmu.course.dao.ExcellentWorkDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>