body {
	color: #000;
	background: #E6DEF6 url(bg3.png) 0 0 repeat-x;
}

.border_bottom3 {
	border-bottom: 3px solid #CDCDCD;
}

#sub_nav {
	background-color: #DCB5FF;
}

#sub_nav li {
	color: #000;
}

#sub_nav li a:link {
	color: #000;
}

#sub_nav li a:visited {
	color: #000;
}

#sub_nav li a:hover {
	color: #FFF;
}

.dgreen-bg {
	background-color: #DCB5FF;
	width: 100%;
	height: 34px;
	border-bottom: 20px solid #473C8B;
	border-top: 3px solid #8A2BE2;
}

#main_nav li {
	color: #000;
}

#main_nav li a:link {
	color: #000;
}

#main_nav li a:visited {
	color: #000;
}

#main_nav li a:hover {
	color: #000;
}

#main_nav li ul {
	background-color: #DCB5FF;
}

#main_nav li:hover ul {
	background-color: #DCB5FF;
}

#main_nav li ul li {
	border-bottom: 1px solid #BBB;
}

#top-adv {
	border: 1px solid #B6B683;
	border-bottom: 4px solid #B6B683;
}

#left-nav-bar {
	background: #473C8B;
	color: #FFF;
}

#left-nav-bar ul li a {
	color: #FFF;
}

#left-nav-bar h2 {
	color: #d3a4ff;
	letter-spacing: 1px;
	border-bottom: 1px solid #ABABAB;
}

.main_con {
	border: 1px solid #BE77FF;
}
#right-cnt {
	background-color:#E6DEF6;
	border: 1px solid #BE77FF;
}

.pages {
	background-color: #473C8B;
	border-bottom: 3px solid #b2b2cc;
}

.pages h2 {
	color: #d3a4ff;
}

.pages h2 a{
	color: #d3a4ff;
}

#tags {
	background-color: #F6F6F6;
}

div.col_center {
	background-color:#E6DEF6;
	margin-top: 0px;
	border: 1px solid #BE77FF;
}

.sub-title {
	background-color: #473C8B;
}

.sub-title h2 {
	color: #d3a4ff;
}

div.col_center p#intro {
	color: #190b2c;
}

div.col_center ul li a:link {
	color: #190b2c;
}

div.col_center ul li a:visited {
	color: #190b2c;
}

div.col_center ul li a:hover {
	color: #FFF;
}

#right-list li {
	border-bottom: 1px solid #CECECE;
}

.cblue,a.cblue:link,a.cblue:visited {
	color: #190b2c;
}

#about {
	background-color: #DCB5FF;
	width: 100%;
	padding: 10px 0 10px 0;
	height: 14px;
	border-top: 3px solid #8A2BE2;
	text-align: left;
	color: #000;
}


.image-grid li strong {
	color: #000000;
}

.table-app {
	border: 1px solid #666;
	background-color: #EBF4FD;
}

.timefont {
	font-size: 12px;
	color: #336699;
}

.timefont a{
	font-size: 12px;
	color: #336699;
}

.alertmsg a{
	font-size: 14px;
	color: #336699;
}

.newslist {
	BORDER-BOTTOM: #369 1px solid;
	BORDER-LEFT: #369 1px solid;
	BORDER-TOP: #369 1px solid;
	BORDER-RIGHT: #369 1px solid;
}

.newslist DL DD.author SPAN {
	BORDER-BOTTOM: #369 1px solid;
	COLOR: #369;
}

.newslist DL DT.topic{
	COLOR: #036;
}

.newslist DL DT.topic a{
	COLOR: #036;
}

.newslist DL DD.detail {
	BACKGROUND: #FDFDFE;
}

.newslist DL DD.detail SPAN {
	COLOR: #369;
}

.newslist DL DD.detail EM {
	COLOR: #369;
}

.newslist DL DD.detail A:link {
	COLOR: #036;
}

.newslist DL DD.detail A:visited {
	COLOR: #036;
}

.newslist DL DD.detail A:hover {
	COLOR: #036;
}

.table-list {
	border: 1px solid #336699;
	background-color: #EBF4FD;
}

.table-title {
	color: #036;
}

.table-message{
	background-color: #F0F8FF;	
}

.tr-head {
	background-color: #58ACFA;
}

.tr-foot {
	background-color: #b1ceee;
}

.td-foot {
	background-color: #58ACFA;
}

.tr-title td {
	background-color: #b1ceee;
}
.trborder td{
	background-color: #b1ceee;
}

.tr-content {
	background-color: #ECF3FD;
}

.tr-content td {
	color: #036;
}

.titlea {
	color: #369;
}

a.titlea:link {
	color: #369;
}

a.titlea:visited {
	color: #369;
}

a.titlea:hover {
	color: #0000CD;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #b1ceee;
	color: #222222;
	font-weight: bold;
}

.ui-state-default{
	background: none;
}

tr.odd {
	background-color: #ebf4fd;
}

tr.even {
	background-color: white;
}
.dock-container {
	background-color: #E6DEF6;
}
-->
